*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 46, 195);
    color: white;
    flex-direction: column;
    background-color: black;
}

h1{
    font-size:2.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 5px black solid;
    border-radius: 15px;
    color: white;
    background-color: rgb(236, 162, 50);
    gap: 1rem;
    font-size:xx-large;
}

